@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #606060;
  --primaryColor: #0b8f50;
  --secondaryGrey: #222222;
  --secondaryBackground: rgba(231, 244, 238, 1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
