@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --text-color: rgba(255, 255, 255, 1);
  --foreground: #606060;
  --primaryColor: rgb(11, 143, 80);
  --text-color-green: rgba(11, 143, 80, 1);
  --background-color-green: rgba(11, 143, 80, 1);
  --secondaryGrey: #222222;
  --secondaryBackground: rgba(231, 244, 238, 1);
  --tertiary-background: rgba(247, 249, 249, 1);
  --dark-background: rgba(0, 3, 19, 1);
  --alt-text: rgba(43, 43, 61, 1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;

  max-width: 1440px;
  margin: 0 auto;
}
